/* Form table */
table {
    border-spacing: 5 10px;
}
th {
    text-align: center;
}
td {
    text-align: center;
}
.errorlist {
    font-weight: bold;
    color: red;
    list-style-type: none;
    padding: 0;
}

/* Success/error messages */
.messages {
    font-weight: bold;
}
.success {
    color: green;
}
.info {
    color: blue;
}
.warning {
    color: orange;
}
.error {
    color: red;
}
