{% load i18n %}
{% load static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta name="description"
              content="OpenDrift Leeway simulations for Search and Rescue operations" />
        <meta name="keywords"
              content="OpenDrift, Leeway, SAR, Search, Rescue, Simulation, Drift" />
        <title>Leeway Simulation</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <main>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}<p class="{{ message.level_tag }}">{{ message|linebreaksbr }}</p>{% endfor %}
                </div>
            {% endif %}
            {% block content %}
            {% endblock content %}
            <p>
                <a href="https://github.com/digitalfabrik/opendrift-leeway-webgui">Source Code</a>
                {% if user.is_authenticated %}
                    | <a href="{% url "simulation_documentation" %}">Documentation</a> | <a href="{% url "simulation_list" %}">List of simulations</a> | <a href="{% url "simulation_form" %}">New Simulation</a>
                {% endif %}
            </p>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">logout</button>
                </form>
            {% endif %}
        </main>
    </body>
</html>
