{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="description"
              content="OpenDrift Leeway simulations for Search and Rescue operations"/>
        <meta name="keywords"
              content="OpenDrift, Leeway, SAR, Search, Rescue, Simulation, Drift"/>
        <title>Leeway Simulation</title>
        <style>
    td {
      padding-left: 20px;
    }
    table {
      border-spacing: 0 20px;
    }
        </style>
    </head>
    <body>
        <main>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
            {% endblock content %}
            <p>
                <a href="https://github.com/digitalfabrik/opendrift-leeway-webgui">Source Code</a>
                {% if user.is_authenticated %}
                    | <a href="{% url "simulations_list" %}">List of simulations</a> | <a href="{% url "home" %}">New Simulation</a> | <a href="{% url "logout" %}">Logout</a>
                {% endif %}
            </p>
        </main>
    </body>
</html>
